<li id="widget_<%= camera.id %>">
<div class="webcam wcs_<%= size %>">
  <div class="header">
    <h2><%= camera.name %></h2>
    <div class="tools">
      <a href="#" title="Arrastrar"><img class="handle" src="/images/ico_move.png" width="13" height="13" alt="Arrastrar"></a>
      <a href="javascript: setMapCenter(<%= camera.id %>, '<%= camera.address %>')" title="Centrar en mapa"><img src="/images/ico_center.png" width="12" height="12" alt="Centrar en el mapa"></a>
      <a href="javascript: removeWidget(<%= camera.id %>);" title="Cerrar cámara"><img src="/images/ico_close.png" width="13" height="12" alt="Cerra cámara"></a>
    </div>
  </div>
  <div class="image">
    <% if !camera.histories.empty? %>
      <%= image_tag camera.histories.last.image.url(size.to_sym) %>
    <% else %>
      <%= image_tag "/images/not_image_#{size}.jpg" %>
    <% end %>
  </div>
  <div class="controls">
    <div class="play">
      <!-- style="display:none"  -->
      <a href="javascript:playCamera( <%= camera.id %>, '<%= size %>' )" id="play_cam_<%= camera.id %>"><img src="/images/ico_play.png" width="12" height="17" alt="Reproducir"></a>
      <a style="display:none" href="javascript:pauseCamera( <%= camera.id %>, '<%= size %>' )" id="pause_cam_<%= camera.id %>"><img src="/images/ico_pause.png" width="12" height="17" alt="Pausar"></a>
    </div>
    <div id="slider_<%= camera.id %>" class="slider"></div>
    <div class="info_update">
      <% if !camera.histories.empty? %>
        <%= (camera.histories.last.date + 2.hours).strftime( '%d %b %H:%M' ) %>
      <% else %>
        Ninguna imagen
      <% end %>
    </div>
    <div class="admin">
      <%= link_to 'edit', edit_camera_path( camera ) %>
    </div>
  </div>
</div>
</li>

<script>
  $(function() {
    $("#slider_<%= camera.id %>").slider({
      value:99,
      min: 0,
      max: 99,
      step: 1,
      stop: function(event, ui) {
        pauseCamera( <%= camera.id %> );
        chargeSnapshot( <%= camera.id %>, ui.value, '<%= size %>' );
      }
    });
  });
</script>