<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example: Marker Drag Events</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA"
            type="text/javascript"></script>
            
    <%= javascript_include_tag 'jquery' %>
    
    <script type="text/javascript">



    var map = null;
    var geocoder = null;
    var marker = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        var center = 
          new GLatLng(
            <%= @camera.lat %>, 
            <%= @camera.lng %>
          );
        map.setCenter(center, 13);

        marker = new GMarker(center, {draggable: true});

        GEvent.addListener(marker, "dragstart", function() {
          map.closeInfoWindow();
        });

        GEvent.addListener(marker, "dragend", function() {
          marker.openInfoWindowHtml(
            "Just bouncing along..." +
            "Lat:" + marker.getLatLng().lat() +
            ", Lng:" + marker.getLatLng().lng()
          );
          
          getAddress( marker.getLatLng() );
        });

        map.addOverlay(marker);
        
        var customUI = map.getDefaultUI();
        // Remove MapType.G_HYBRID_MAP
        customUI.maptypes.hybrid = false;
        map.setUI(customUI);
        
        geocoder = new GClientGeocoder();
      }
    }
    
    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
              map.setCenter(point, 13);

              marker.setLatLng(point);
              


              marker.openInfoWindowHtml(
                "Just bouncing along..." +
                "Lat:" + marker.getLatLng().lat() +
                ", Lng:" + marker.getLatLng().lng()
              );
            }
          }
        );
      }
    }


    function getAddress(latlng) {
      geocoder.getLocations(latlng, updateAddress);
    }

    function updateAddress(response) {
      if (!response || response.Status.code != 200) {
        alert("Status Code:" + response.Status.code);
      } else {
        $('#address').attr('value', response.Placemark[0].address );
      }
    }


    </script>
  </head>

  <body onload="initialize()" onunload="GUnload()">
    <form action="#" onsubmit="showAddress(this.address.value); return false">
          <p>
            <input id="address" type="text" size="60" name="address" value="1600 Amphitheatre Pky, Mountain View, CA" />
            <input type="submit" value="Go!" />
          </p>
          <div id="map_canvas" style="width: 500px; height: 300px"></div>
        </form>
  </body>
</html>
